<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />
  <!-- Primary Meta Tags -->
  <title>{% if page.title == '' or page.url == '/' or page.url == '/en/' %}{{ site.title[site.active_lang] }}{% else %}{{ page.title }} | {{ site.title[site.active_lang] }}{% endif %}</title>
  <meta
    name="title"
    content="{% if page.title == '' or page.url == '/' or page.url == '/en/' %}{{ site.title[site.active_lang] }}{% else %}{{ page.title }} | {{ site.title[site.active_lang] }}{% endif %}"
  />
  <meta
    name="description"
    content="{% if page.description %}{{ page.description }}{% else %}{{ site.description[site.active_lang] }}{% endif %}"
  />
  {% if site.active_lang == 'fi' %}
  <meta name="keywords" content="tridentiininen messu, tridentiininen messu Suomessa, perinteinen messu, perinteinen messu Suomessa, traditionaalinen messu, traditionaalinen messu Suomessa, perinteinen katolinen messu, perinteinen katolinen messu Suomessa, perinteinen latinankielinen messu, latinankielinen messu, katolinen messu, Gregorius-yhdistys, Helsinki, katolinen kirkko, roomalainen riitus" />
  {% else %}
  <meta name="keywords" content="Tridentine Mass, Tridentine Mass in Finland, Traditional Latin Mass, Traditional Latin Mass in Finland, traditional Catholic Mass, Latin Mass, Catholic Mass, Society of St. Gregory the Great, Helsinki, Catholic Church, Roman Rite" />
  {% endif %}
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:site_name" content="{{ site.title[site.active_lang] }}" />
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  {% if page.url == '/' %}
    <link rel="alternate" hreflang="fi" href="{{ site.url }}/" />
    <link rel="alternate" hreflang="en" href="{{ site.url }}/en/" />
  {% elsif page.url == '/en/' %}
    <link rel="alternate" hreflang="fi" href="{{ site.url }}/" />
    <link rel="alternate" hreflang="en" href="{{ site.url }}/en/" />
  {% elsif page.url contains '/en/' %}
    {% assign fi_url = page.url | remove_first: '/en' %}
    <link rel="alternate" hreflang="fi" href="{{ site.url }}{{ fi_url }}" />
    <link rel="alternate" hreflang="en" href="{{ site.url }}{{ page.url }}" />
  {% else %}
    <link rel="alternate" hreflang="fi" href="{{ site.url }}{{ page.url }}" />
    <link rel="alternate" hreflang="en" href="{{ site.url }}/en{{ page.url }}" />
  {% endif %}
  <meta
    property="og:title"
    content="{% if page.title == '404' or page.title == '' or page.url == '/' or page.url == '/en/' %}{{ site.title[site.active_lang] }}{% else %}{{ page.title }} | {{ site.title[site.active_lang] }}{% endif %}"
  />
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description[site.active_lang] }}{% endif %}" />
  <meta property="og:image" content="{{ site.url }}/assets/images/logo/SSGM_meta.jpg" />
  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="{{ site.url }}{{ page.url }}" />
  <meta
    property="twitter:title"
    content="{% if page.title == '' or page.url == '/' or page.url == '/en/' %}{{ site.title[site.active_lang] }}{% else %}{{ page.title }} | {{ site.title[site.active_lang] }}{% endif %}"
  />
  <meta property="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description[site.active_lang] }}{% endif %}" />
  <meta property="twitter:image" content="{{ site.url }}/assets/images/logo/SSGM_meta.jpg" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="stylesheet" href="{{ "/assets/css/main-compiled.css" | relative_url }}">
  <script
    src="https://kit.fontawesome.com/e3f1ba883b.js"
    crossorigin="anonymous"
  ></script>
  {% include structured-data.html %}
</head>
