<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <!-- Primary Meta Tags -->
  <title>Societas Sancti Gregorii Magni</title>
  <meta name="title" content="Societas Sancti Gregorii Magni" />
  <meta name="description" content="Gregorius-yhdistys | Society of St. Gregory the Great" />
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://gregorius.fi/" />
  <meta property="og:title" content="Societas Sancti Gregorii Magni" />
  <meta property="og:description" content="Gregorius-yhdistys | Society of St. Gregory the Great" />
  <meta property="og:image" content="assets/images/logo/SSGM_meta.jpg" />
  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://gregorius.fi/" />
  <meta property="twitter:title" content="Societas Sancti Gregorii Magni" />
  <meta property="twitter:description" content="Gregorius-yhdistys | Society of St. Gregory the Great" />
  <meta property="twitter:image" content="assets/images/logo/SSGM_meta.jpg" />
  <title>{% if page.title == '' %}{{ site.title }}{% else %}{{ page.title }} - {{ site.title }}{% endif %}</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>